### --- GENERAL & OS ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

### --- DOCKER ---
.docker/
*.log

### --- PRODUCTION SECRETS ---
.env.production

### --- BACKEND (LARAVEL) ---
backend/.env
backend/bootstrap/cache/*.php
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*.php
backend/storage/logs/*.log
backend/vendor/
backend/.phpunit.result.cache

### --- FRONTEND (REACT / NODE) ---
# NOTA: frontend/dist/ SE VERSIONA intencionalmente — es el build de
# produccion pre-compilado en local que el Droplet solo empaqueta en Nginx
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
